*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.destinazione{
  position: relative;
  width: auto;
  height: 100vh;
  background-image: url("../img/roma.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;}


.oscuramento{
  width: auto;
  height: 100vh;
  background-color: rgba(44, 46, 45, 0.3);
}


.logo{
  display: inline-block;
  width: 17%;
  padding: 10px 20px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color:rgb(255, 90, 95);
}

ul{
  display: inline-block;
  width: 80%;
  text-align: right;
  padding-top: 10px;

}

li{
  display: inline-block;
  padding: 0 5px;
}

a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: rgb(255, 90, 95);
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.destinazione.seconda{
  background-image: url("../img/copenaghen.jpg");
}

.destinazione.terza{
  background-image: url("../img/tokyo1.jpg");

}

.testo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: White;
  font-variant-caps: small-caps;
  text-shadow:2px 2px rgb(255, 90, 95);
  font-size: 80px;
}

/* NUOVA PARTE DEL MENU */
